* {
    margin: 0;
    padding: 0;
}

body {
    transition: background-color 400ms linear;
}

#app {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 24pt;

    border: 0.1rem solid;
    border-radius: 0.35rem;
    padding: 0.75em 1.5em;

    background-color: inherit;
    color: inherit;

    box-shadow: 4px 4px 0px 0px;

    transform: skewY(30deg) skewX(-30deg) translateX(-2px) translateY(-2px);
    transition: all 100ms linear;
    
    cursor: pointer;
}

.btn:active {
    transform: skewY(30deg) skewX(-30deg) translateX(0px) translateY(0px);
    box-shadow: 0 0;
}